<div layout:decorate="~{customLayout}" layout:fragment="mainContent">
  <h1>Single Sign-On Services</h1>

  <p>Access University resources with your MyGeorgiaSouthern credentials.</p>

  <div class="alert alert-warning">
    <h2 th:text="#{screen.authentication.warning}"/>

    <div th:each="message : ${messages}">
      <p class="message" th:utext="${message.text}"/>
    </div>

    <section class="row btn-row">
      <form method="post" id="form" class="fm-v clearfix" th:action="@{/login}" >
        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
        <input type="hidden" name="_eventId" value="proceed"/>
        <input class="btn btn-submit" name="continue" accesskey="l" th:value="#{screen.button.continue}" tabindex="4" type="submit"/>
      </form>
    </section>
  </div>

  <p><strong>Need assistance</strong>? Contact the Service Desk at (912) 478-2287 or helpdesk@georgiasouthern.edu</p>
</div>
