<div layout:decorate="~{customLayout}" layout:fragment="mainContent">
  <h1>Single Sign-On Services</h1>

  <p>Access University resources with your MyGeorgiaSouthern credentials.</p>

  <div class="alert alert-info">
    <h2 class="blue">Log Out Successful</h2>
    <p>For your security, please close your web browser.</p>
  </div>

  <p>
    <strong>Need assistance</strong>? Contact the Service Desk at <span th:utext="#{screen.georgiasouthern.servicedesk.telephone}"/> or <span th:utext="#{screen.georgiasouthern.servicedesk.email}"/>
  </p>
</div>
